// style guide

.button,
.wp-block-button__link,
.wp-block-file__button {
  transition: all 0.3s ease;
  display: inline-block;
  vertical-align: middle;
  font: 400 14px/24px $ff;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  padding: 7px 16px;
  background-color: $tx;
  border-radius: 0 !important;
  cursor: pointer;
  user-select: none;
  @include rwd-min(768) {
    font-size: 15px;
    padding: 10px 22px;
  }
  &.is_full {width: 100%}
  @include hover {background-color: $cl}
}

.wp-block-button {
  display: inline-block;
  &.is_full {
    .wp-block-button__link {width: 100%}
  }
}

.wp-block-buttons {
  margin-bottom: 30px;
  &.is-content-justification-center {text-align: center}
  &.is-content-justification-right {text-align: right}
}

.link {
  color: $cl;
  box-shadow: 0 1px;
  @include hover {box-shadow: 0 0}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-family: $ff2;
  font-weight: 700;

  a {
    color: inherit;
    @include hover {color: $cl}
  }
}

h1, .h1 {
  font-size: 51px;
  line-height: 1.25;
}
h2, .h2 {
  font-size: 28px;
  &.has_line {
    &:after {
      content: '';
      background-color: $cl;
      height: 2px;
      width: 22px;
      display: block;
      margin: 12px 0 30px;
    }

    &.to_right {
      margin-bottom: 30px;
      &:after {
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 8px 14px;
      }
    }
  }
}
h3, .h3 {
  font-size: 21px;
}
h4, .h4 {
  font-size: 18px;
}
h5, .h5 {
  font-size: 16px;
}

p {
  margin-bottom: 25px;
  &.j_empty {line-height: 0}
  &.full_frame {margin-bottom: 30px}
}
span.full_frame {margin-bottom: 30px}

small, sub {
  display: inline-block;
  vertical-align: baseline;
  font-size: 12px;
  font-weight: 400;
}

em, i {font-weight: 400}

//.wp-block-image {
//  position: relative;
//  &.size-1536x1536, .size-1536x1536 {
//    width: 100vw;
//    margin-left: calc(-50vw + 50%);
//    @include rwd-min(1536) {
//      width: 1536px;
//      margin-left: calc((100% - 1536px) / 2);
//    }
//  }
//  &.size-2048x2048, .size-2048x2048 {
//    width: 100vw;
//    margin-left: calc(-50vw + 50%);
//    @include rwd-min(2048) {
//      width: 2048px;
//      margin-left: calc((100% - 2048px) / 2);
//    }
//  }
//  &.size-full, .size-full {
//    width: calc(100vw - 8px);
//    margin-left: calc(-50vw + 50%);
//  }
//  figure {
//    position: relative;
//  }
//}


figure {
  //&.aligncenter img {margin: 0 auto}
  //&.alignright img {margin-left: auto;}
  a {
    display: block;
    @include hover {opacity: 0.75}
  }
}

figcaption {
  font-size: 12px;
  font-weight: 400;
  padding-top: 10px;
  @include rwd-min(1025) {padding-top: 15px}
}

blockquote {
  font-size: 28px;
  font-family: $ff2;
  font-weight: 700;
  line-height: 1.3;
  color: $cl;
  margin: 5px 0 30px;
  padding: 16px 0 19px 30px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    background: $cl;
    @include rwd-min(768) {width: 7px}
  }

  p {margin-bottom: 0}
}

hr {
  border-top: none;
  border-bottom: 2px solid $cl;
  margin-bottom: 30px;
}

.content {
  h2, h3, h4, h5, h6 {margin-bottom: 25px}

  p, li {
    a:not(.button) {@extend .link}
  }

  ul:not(.blocks-gallery-grid), ol {
    .content *:not(.selectric-items) & {
      margin-bottom: 30px;
      li:not(:last-child) {margin-bottom: 15px}
    }
  }

  ul:not(.blocks-gallery-grid) {
    .content *:not(.selectric-items) &  {
      li {
        padding-left: 18px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 9px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $cl;
        }

        & > ul {padding: 15px 0 0 20px}
      }
    }
  }

  ol {
    list-style-type: none !important;
    counter-reset: decimal_counter;
    li {
      counter-increment: decimal_counter;

      &:before {
        content: counter(decimal_counter) ". ";
        font-weight: 600;
        color: $cl;
      }

      & > ol {
        counter-reset: alpha_counter;
        padding: 15px 0 0 35px;

        li {
          counter-increment: alpha_counter;

          &:before {content: counter(alpha_counter, lower-alpha) ". "}

          & > ol {
            counter-reset: roman_counter;

            li {
              counter-increment: roman_counter;

              &:before {content: counter(roman_counter, lower-roman) ". "}
            }
          }
        }
      }
    }
  }

  img {
    &.alignnone {margin: 0 0 20px}
    &.aligncenter {margin: 0 auto 20px}
    &.alignleft {
      float: left;
      margin: 0 20px 20px 0;
    }
    &.alignright {
      float: right;
      margin: 0 0 20px 20px;
    }
  }

  .is_indent {
    margin-left: 20px;
    @include rwd-range(1024, 768) {margin-left: 50px}
    @include rwd-min(1025) {margin-left: 75px}
  }

}

// full-frame responsive video
.full_frame,
.is-type-video .wp-block-embed__wrapper,
.wp-block-embed-soundcloud .wp-block-embed__wrapper, {
  height: 0;margin: 0;overflow: hidden;padding-bottom: 56.5%;position: relative;z-index: 0;
  iframe, object, embed {height: 100%;left: 0;position: absolute;top: 0;width: 100%;z-index: -1}
}

// icons
.circle_arrow {
  transition: all 0.3s ease;
  display: inline-block;
  width: 48px;
  height: 48px;
  color: $cl;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px $border;
  position: relative;
  cursor: pointer;
  user-select: none;
  &.is_up:before {
    content: '\f106';
    margin-top: -1px;
  }
  &.is_down:before {
    content: '\f107';
    margin-top: 1px;
  }
  &.is_left:before {
    content: '\f104';
    margin-left: -1px;
  }
  &.is_right:before {
    content: '\f105';
    margin-left: 1px;
  }
  @include hover {box-shadow: inset 0 0 0 3px $cl}

  &:before {
    @include center();
    font-family: $icons;
    font-size: 26px;
    line-height: 48px;
  }
}

[class^="i_"] {
  display: inline-block;
  vertical-align: middle;
}
