@import '../import/import';
@import '../modules/selectric';

.posts {
  &__filters {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    margin-bottom: 64px;
    &_desktop {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }
  }
}

.form_search_ajax {
  position: relative;
  input[type='text'] {
    padding-right: 40px !important;
  }
  button {
    @include center(false, true);
    right: 20px;
  }
}